<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%d{🕔 HH:mm:ss.SSS} ⚙️[%thread]) 🖥%-5level 🔎%40(%logger{36}) 💬 %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.hemajoo.i18n" level="TRACE"/>
    <logger name="com.hemajoo.utility" level="TRACE"/>

    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>

</configuration>
