name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  build:
    name: Build Code with Java ${{ matrix.Java }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ 17 ]

    steps:

      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup JDK ${{ matrix.Java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.Java }}
          distribution: adopt

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Setup Maven settings.xml
        uses: s4u/maven-settings-action@v2.6.0
        with:
          servers: |
            [{
                "id": "github.ressec.maven.registry",
                "username": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_USER }}",
                "password": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_TOKEN }}"
            },
            {
                "id": "github.hemajoo-commerce.maven.registry",
                "username": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_USER }}",
                "password": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_TOKEN }}"
            }]

      - name: Build with Maven
        run: mvn -B clean package -f pom.xml -Pjava.${{ matrix.Java }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  sonar:
    name: Code Analysis with Sonar
    runs-on: ubuntu-latest
    needs: [ build ]

    steps:

      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: adopt

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Cache Sonar packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Setup Maven settings.xml
        uses: s4u/maven-settings-action@v2.6.0
        with:
          servers: |
            [{
                "id": "github.ressec.maven.registry",
                "username": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_USER }}",
                "password": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_TOKEN }}"
            },
            {
                "id": "github.hemajoo-commerce.maven.registry",
                "username": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_USER }}",
                "password": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_TOKEN }}"
            }]

      - name: Static Code Analysis
        run: mvn -B clean dependency:copy-dependencies verify sonar:sonar -f pom.xml -Pjava.17
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  deploy:

    name: Deploy Artifacts
    if: github.event.pull_request.base.ref == 'main' # Only deploy artifacts when merging in main branch (merge of the PR).
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs: [ build, sonar ]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: adopt

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Setup Maven settings.xml
        uses: s4u/maven-settings-action@v2.6.0
        with:
          servers: |
            [{
                "id": "github.ressec.maven.registry",
                "username": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_USER }}",
                "password": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_TOKEN }}"
            },
            {
                "id": "github.hemajoo-commerce.maven.registry",
                "username": "${{ secrets.DEPLOY_MAVEN_REGISTRY_GITHUB_USER }}",
                "password": "${{ secrets.DEPLOY_MAVEN_REGISTRY_GITHUB_TOKEN }}"
            }]

      - name: Deploy Maven Artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn --batch-mode deploy -Dmaven.test.skip=true -f pom.xml -Pjava.17
